/*----------------main settings----------------*/
body {
	margin: 0;
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-font-smoothing: antialiased !important;
}
	
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----------------fonts----------------*/
.font{
	font-family: "Titillium Web", sans-serif;
	color: white;
	text-align: center;
	font-size: 16pt;
}
.thin {
	font-weight: 200;
}
.semibold {
	font-weight: 600;
}
.light {
	font-weight: 300;
}
.boldTitle{
	font-weight: 600;
	font-size: 6vmax;
	text-shadow: 0px 2px 5px #000;
}

.title {
	font-weight: 500;
	font-size: 6vmax;
	text-shadow: 0 .01em 0.1em #000;
}

.subtitle{
	font-weight: 500;
	font-size: 2vmax;
	text-shadow: 0 0.03em 0.1em #000;
}

:link{
	color: white;
	text-decoration: none;
}

:visited{
	color: white;
}

/*----------------parallax layers----------------*/
.parallax {
	perspective: 2px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
/* when making new groups, for each layer make class ="parallax_layer ~layerType~" 
	add new group number and image */
.parallax_layer {
	position: absolute;
	background: no-repeat center center;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*text*/
	display: flex;
	justify-content: center;
}
.foreground {
	transform: translateZ(0.5px) scale(0.75);
	z-index: 5;
}
.base {
	transform: translateZ(0);
	z-index: 4;

}
.background {
	transform: translateZ(-1px) scale(1.5);
	z-index: 3;

}
.deep {
	transform: translateZ(-2px) scale(3);
	z-index: 2;

}

/*sharpening animation, when going from blurred image to full image*/
@keyframes sharpen{
	from{
		filter: blur(20px);
	}
	to{
		filter: blur(0px);
	}
}

/*----------------parallax groups----------------*/
/*group z index pattern: 5, 3, 4, 3, 5, 3 ...*/

.parallax_group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

#header{
	z-index: 1;
	height: 30vh;
}
  
#main{
    z-index: 2;
    /*TODO: make height dynamic*/
    height: auto;
    background-color: #2f2f2f;
    text-align: center;
}

	#main .base{
		display: block;
		margin: auto;
		width: 80%;
	}

#footer_group{
	z-index: 1;
	height: 20vh;
}
