/*----------------main settings----------------*/
body {
	margin: 0;
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-font-smoothing: antialiased !important;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----------------fonts----------------*/

.font{
	font-family: "Titillium Web", sans-serif;
	color: white;
	text-align: center;
	font-size: 16pt;
}
.thin {
	font-weight: 200;
}
.semibold {
	font-weight: 600;
}
.light {
	font-weight: 300;
}
.boldTitle{
	font-weight: 600;
	font-size: 6vmax;
	text-shadow: 0px 2px 5px #000;
}

.title {
	font-weight: 500;
	font-size: 6vmax;
	text-shadow: 0 .01em 0.1em #000;
}

.subtitle{
	font-weight: 500;
	font-size: 2vmax;
	text-shadow: 0 0.03em 0.1em #000;
}

:link{
	color: white;
	text-decoration: none;
}

:visited{
	color: white;
}

/*----------------parallax layers----------------*/
.parallax {
	perspective: 2px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
/* when making new sections, for each layer make class ="parallax_layer ~layerType~" 
	add new group number and image */
.parallax_layer {
	position: absolute;
	background: no-repeat center center;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*text*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.foreground {
	transform: translateZ(0.5px) scale(0.75);
	z-index: 5;
}
.base {
	transform: translateZ(0);
	z-index: 4;

}
.background {
	transform: translateZ(-1px) scale(1.5);
	z-index: 3;

}
.deep {
	transform: translateZ(-2px) scale(3);
	z-index: 2;

}

/*sharpening animation, when going from blurred image to full image*/
@keyframes sharpen{
	from{
		filter: blur(20px);
	}
	to{
		filter: blur(0px);
	}
}

/*----------------parallax groups----------------*/
/*group z index pattern: 5, 3, 4, 3, 5, 3 ...*/

.parallax_group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

#group1{
	z-index: 5;
	height: 50vh;
}
	/*This is the image that will be displayed when the webpage fist loads
	it should be very small in file size. scale up and blur via svg
	fall back image to be displayed behind the normal image,
		makes the animation look better around the edges*/
	#group1 .image, #group1 .fallback_image{
		background-image: url(../img/title_blur.svg);
		transform: translateZ(0)
	}
	/*this is the full size image to be displayed once everything loads
	this has the sharpen animation attached to it. Once the image element 
	receives this class via JS, the image changes and the animation begins*/
	#group1 .image_enhanced{
		background-image: url(../img/title.jpg);
		animation: sharpen 1s both;
	}	

#group2{
	z-index: 3;
	height: 50vh;
}
	#group2 .background{
		/*increase scale more to account for reduced height*/
		transform: translateZ(-1px) scale(2);
	}
	/*blurred loading image, and fallback image*/
	#group2 .image, #group2 .fallback_image{
		background-image:url(../img/mandelbrot_1_blur.svg);
	}
	/*full size image*/
	#group2 .image_enhanced{
		background-image: url(../img/mandelbrot_1.jpg);
		animation: sharpen 1s both;
	}
	
#group3{
	z-index: 4;
}
	/*blurred loading image, and fallback image*/
	#group3 .image, #group3 .fallback_image{
		background-image:url(../img/FRC2019_1_blur.svg);
	}
	/*full size image*/
	#group3 .image_enhanced{
		background-image: url(../img/FRC2019_1.jpg);
		animation: sharpen 1s both;
	}	
#group4{
	z-index: 3;
}
	/*blurred loading image, and fallback image*/
	#group4 .image, #group4 .fallback_image{
		background-image:url(../img/FRC2018_1.jpg);
	}
	/*full size image*/
	#group4 .image_enhanced{
		background-image: url(../img/FRC2018_1.jpg);
		animation: sharpen 1s both;
	}	
#group5{
	z-index: 5;
}
	/*blurred loading image, and fallback image*/
	#group5 .image, #group5 .fallback_image{
		background-image:url(../img/background3.jpg);
	}
	/*full size image*/
	#group5 .image_enhanced{
		background-image: url(../img/background3.jpg);
		animation: sharpen 1s both;
	}	
#group6{
	z-index: 3;
}
	/*blurred loading image, and fallback image*/
	#group6 .image, #group6 .fallback_image{
		background-image:url(../img/background2.jpg);
	}
	/*full size image*/
	#group6 .image_enhanced{
		background-image: url(../img/background2.jpg);
		animation: sharpen 1s both;
	}	
#group7{
	z-index: 4;
}
	/*blurred loading image, and fallback image*/
	#group7 .image, #group7 .fallback_image{
		background-image:url(../img/background-old.jpg);
	}
	/*full size image*/
	#group7 .image_enhanced{
		background-image: url(../img/background-old.jpg);
		animation: sharpen 1s both;
	}	

#footer_group{
	z-index: 6;
	height: 20vh;
}