/*main settings*/
body {
	margin: 0;
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-font-smoothing: antialiased !important;
}

/* parallax layers */
.parallax {
	perspective: 2px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
/* when making new sections, for each layer make class ="parallax_layer ~layerType~" 
	add new group number and image */
.parallax_layer {
	position: absolute;
	background: no-repeat center center;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*text*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.foreground {
	transform: translateZ(0.5px) scale(0.75);
	z-index: 5;
}
.base {
	transform: translateZ(0);
	z-index: 4;
}
.background {
	transform: translateZ(-1px) scale(1.5);
	z-index: 3;
}
.deep {
	transform: translateZ(-2px) scale(3);
	z-index: 2;
}
/*parallax groups */
/*group z index pattern: 5, 3, 4, 3, 5, 3 ...*/


/* Generating blurred images
	https://css-tricks.com/the-blur-up-technique-for-loading-background-images/

	1. scale down regular image (1-5%) and save as jpg
	2. base64 encode the image to get a string use, https://www.base64-image.de/,
		copy the code "for use in <img> elements"
	3. modify the following SVG to suit the image, change width, height, and viewbox
	5. the blur amount can be tweaked by changing the stdDeviation values
	6. paste the base64 version of the image into the SVG into xlink:href=" ~paste here~ "

	<svg xmlns="http://www.w3.org/2000/svg"
    	xmlns:xlink="http://www.w3.org/1999/xlink"
    	width="1500" height="823"
    	viewBox="0 0 1500 823">
  	<filter id="blur" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    	<feGaussianBlur stdDeviation="20 20" edgeMode="duplicate" />
    	<feComponentTransfer>
      		<feFuncA type="discrete" tableValues="1 1" />
    	</feComponentTransfer>
  	</filter>
  	<image filter="url(#blur)"
    	xlink:href="~~~~~PASTE_HERE~~~~~"
        x="0" y="0"
        height="100%" width="100%"/>
	</svg>

	7.save the SVG file and reference it for the background image

*/


.parallax_group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

#group1{
	z-index: 5;
	height: 50vh;
}
	#group1 .image{
		background-image: url(../img/title_blur.svg);
		transform: translateZ(0);
	}
	#group1 .image_enhanced{
		background-image: url(../img/title.jpg);
		animation: sharpen .5s both;
	}
	
	@keyframes sharpen{
		from{
			background-image: filter(url(../img/title.jpg), blur(20px));
		}
		to{
			background-image: filter(url(../img/title.jpg), blur(0px));
		}
	}
	

#group2{
	z-index: 3;
	height: 50vh;
}
	#group2 .image{
		background-image:url(../img/background2.jpg);
	}
	#group2 .background{
		/*increase scale more to account for reduce height*/
		transform: translateZ(-1px) scale(2);;
	}
#group3{
	z-index: 4;
}
	#group3 .image{
		background-image:url(../img/FRC2019_1.jpg);
	}
#group4{
	z-index: 3;
}
	#group4 .image{
		background-image:url(../img/FRC2018_1.jpg);
	}
#group5{
	z-index: 5;
}
	#group5 .image{
		background-image:url(../img/background3.jpg);
	}
#group6{
	z-index: 3;
}
	#group6 .image{
		background-image:url(../img/background2.jpg);
	}
#group7{
	z-index: 4;
}
	#group7 .image{
		background-image: url(../img/background-old.jpg);
	}
#footer{
	z-index: 6;
	height: 20vh;
}

/*fonts*/

.font{
	font-family: "Titillium Web", sans-serif;
	color: white;
	text-align: center;
}
.thin {
	font-weight: 200;
}
.semibold {
	font-weight: 600;
}
.light {
	font-weight: 300;
}
.boldTitle{
	font-weight: 600;
	font-size: 6vmax;
	text-shadow: 0px 2px 5px #000;
}

.title {
	font-weight: 500;
	font-size: 6vmax;
	text-shadow: 0 .01em 0.1em #000;
}

.subtitle{
	font-weight: 500;
	font-size: 2vmax;
	text-shadow: 0 0.03em 0.1em #000;
}

:link{
	color: white;
	text-decoration: none;
}

:visited{
	color: white;
}
